@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col col-lg-12">
        <h2>Accomodation Types</h2>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" />
            <button class="btn btn-outline-primary" type="button">Search</button>
            <button class="btn btn-outline-secondary" type="button">Reset</button>
            <a href="@Url.Action("Action", "AccomodationTypes")" id="createButton" class="btn btn-outline-success" type="button">Create</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        @{ Html.RenderAction("Listing"); }
    </div>
</div>
