
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-hero overlay" style="background-image: url('@Url.Content("~/Content/Images/404_not_found.jpg")');">
</section>

